@import url('https://refact0r.github.io/system24/src/main.css');
@import url('https://refact0r.github.io/system24/src/unrounding.css');
@import url('https://aushevahmad.github.io/awesome-css/modules/fancySearch.css');
@import url('https://aushevahmad.github.io/awesome-css/modules/channeltweaks.css');
@import url('https://aushevahmad.github.io/awesome-css/modules/compressbotmsgs.css');
@import url('https://comfy-themes.github.io/Discord/betterdiscord/no-scrollbar.css');
@import url('https://aushevahmad.github.io/awesome-css/modules/custom-bar-prompt.css');
@import url('https://comfy-themes.github.io/Discord/betterdiscord/better-spotify.css');
@import url('https://comfy-themes.github.io/Discord/betterdiscord/vencord-spotify.css');

:root {
  --unread-color: #7289da;
  --chat-buttons: #61538d;
  --spotify-color: #61538d;
  --online: #43b581;
  --iddle: #faa61a;
  --dnd: #f04747;
  --offline: #747f8d;
  --streaming: #593695;
  --playing: #7289da;
  --listening: #1db653;
  
  --disable-animations: 2s channel-unread infinite;
  --user-buttons-spacing: 8px;

  --font: 'DM Mono';
	letter-spacing: -0.05ch;
	font-weight: 300; 	
  --label-font-weight: 500; 
  --label-color: #0d0d0d;

  --pad:10px; /*sane def 15*/
  --txt-pad: 10px; /*padding inside panels to prevent labels from clipping*/
  --panel-roundness: 0px;

  --border-width: 1px; /*sane def 2*/
	--border-color: #303030; /*def var(--bg-3) */ 
  --border-hover-color: #4e4c5a; /*--acc-0 for violet focus visuals*/
	--border-transition: 0.2s ease; 

	--mention-txt: var(--acc-0); 
	--mention-bg: color-mix(in oklch, var(--bg-1), transparent 90%);
  --mention-overlay: color-mix(in oklch, var(--bg-1), transparent 90%); 
	--mention-hover-overlay: color-mix(in oklch, var(--acc-0), transparent 95%); 
	--reply-overlay: var(--active);
	--reply-hover-overlay: var(--hover);

  --display-settings-billing-header: none;     
  --display-settings-nitro-tab: none;            
  --display-settings-server-boost-tab: none; 
  --display-settings-subscriptions-tab: none;    
  --display-settings-gift-inventory-tab: none; 
  --display-settings-billing-tab: none;           

  --prompt-text: " ";
}

/*remove user customization*/
svg[class^="avatarDecoration"],
img[class^="avatarDecoration"],
[class*="bannerSVGWrapper_"] > mask > image { display: none; }
[class*=avatarDecorationHint_] > foreignObject {
  width: 80px;
  height: 80px;
  mask: url(#svg-mask-avatar-status-round-80);
}
[class*=avatarDecorationHint_] {
  position: relative;
  top: -80px;
  left: 0px;
}
[class="banner__68edb banner__537ec"],
[class="viewFullBio_f5f93a button__201d5 lookBlank__201d5 viewFullBioColor_f5f93a grow__201d5"]{
  display: none;
}
[class="outer_c0bea0 theme-dark images-dark panel_c0bea0"]{
  background: none;
}
/*remove moar elements*/
[class="avatar__91a9d"], /*avatars in members list*/
[class="footer__214dc"],
[class="banner__68edb"],
[class="footer__5be3e"],
[class="searchBar__35e86"],
[class="descriptionClamp_f5f93a"],
[class="closedFolderIconWrapper__48112"],
[class="overlay_c0bea0 panel_c0bea0 overlay__747b1"],
[class="upsellContent__5997d upsellDefaultContent__5997d"],
[class="item_c1e9c4 labelContainer_c1e9c4 colorDefault_c1e9c4"],
[class="button_dd4f85 lookBlank_dd4f85 colorBrand_dd4f85 grow_dd4f85"]{ 
  display: none; 
}
/*chat buttons*/
button[aria-label="Open GIF picker"],
button[aria-label="Send a gift"],
button[aria-label="Open sticker picker"],
button[aria-label="Boost this server"],
button[aria-label="Add Emoji Confetti"],
button[aria-label="Select emoji"],
.channelTextArea-1FufC0 > .container-1ZA19X,
.footer_aa1bff,
div[class^="channelAppLauncher_"]{ 
  display: none; 
}
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server boosting since"]),
div[class*=nameAndDecorators] div[role="button"]:has(svg[aria-label^="Server Boosting since"]){ 
  pointer-events: none; 
}
div[class^="effectsWrapper"],
div[class*="shakeReaction"]{ animation: none !important; }
img.emoji{ opacity: 100; }
[href="/shop"]{ display: none !important; }
[href="/store"]{ display:none; }
/*quick reactions*/
[aria-label^="Click to react with"] {
  display: none;
}
[class="buttonsInner__5126c popover_f84418 popoverReactionHoverBar_f84418 wrapper_f7ecac"]{
  background-color: #0d0d0d;
  border-color: #303030;
}
[aria-label="More"],
[class="separator_f84418"]{
  display: none;
}

/*toolbar*/
[aria-label="Help"],
[aria-label="Inbox"],
[aria-label="Vencord Toolbox"],
[aria-label="Start Video Call"],
[aria-label="Add Friends to DM"],
[class="wrapper__44b0c avatar_f75fb0"]{
  display: none;
}
/*home*/
[class="avatar__20a53"], /*avatar and icons in dm list*/
[class="subText__91a9d"],
[class="subText__20a53"],
[class="subText__91a9d"],
[class="subtext__0a06e"],
[class="iconWrapper__9293f"],
[aria-label="Servers"]+div+div,
[class="nowPlayingColumn__133bf"],
[class="wrapper__44b0c avatar__0a06e"],/*avatar in friends list*/
[class="searchBar__5ec2f container_a45028 medium_a45028"],
[class="membersGroup_c8ffbb container__13cf1 text__13cf1"]{
  display: none;
}
[class="channel__972a0 dm__972a0 container_e45859"],
[class="member__5d473 container__91a9d clickable__91a9d"],
[class="member__5d473 offline__5d473 container__91a9d clickable__91a9d"]{
  height: 30px; 
}
[class="channel__972a0 dm__972a0 container_e45859"]{
  box-sizing: 1px;
}
[class="member__5d473 member_c8ffbb container__91a9d clickable__91a9d"],
[class="member__5d473 member_c8ffbb offline__5d473 container__91a9d clickable__91a9d"]{
  height: 32px;
}
[aria-label="Add a Server"]{
  background-color: #0d0d0d;
}
/*settings*/
div[role="tablist"] {
  > div[class*="separator_"]:has(+ div[class*="header_"] + div[class*="premiumTab_"]) { display: var(--display-settings-billing-header); } 
  > div[class*="header_"]:has(+ div[class*="premiumTab_"]) { display: var(--display-settings-billing-header); } 
  > div[class*="premiumTab_"] { display: var(--display-settings-nitro-tab); } 
  > div[class*="premiumTab_"] + div { display: var(--display-settings-server-boost-tab); } 
  > div[class*="premiumTab_"] + div + div { display: var(--display-settings-subscriptions-tab); }
  > div[class*="premiumTab_"] + div + div + div { display: var(--display-settings-gift-inventory-tab); }
  > div[class*="premiumTab_"] + div + div + div + div { display: var(--display-settings-billing-tab); }
}
[aria-label="Clips"],
[aria-label="Connections"],
[aria-label="Activity Privacy"]+div,
[aria-label="Activity Privacy"]+div +div,
[aria-label="Activity Privacy"]+div +div +div,
[aria-label="Activity Privacy"]+div +div +div +div,
[class="container__8279f"],
[class="socialLinks__7df54"],
[class="upsellOverlayContainer__0f7dc"],
[class="item_b3f026 selected_b3f026 themed_b3f026"],
[class="premiumBackground__65c15 background__65c15"],
[class="h5_b717a1 eyebrow_b717a1 defaultMarginh5_b717a1"],
[class="vc-special-card vc-special-card-special cardPrimary__73069 card__73069"],
[class="premiumFeatureBorder__65c15 featureBorder__65c15 tryItOutSection__9d295"],
[class="upsellContainer__0b69f upsellContainerShadow__0b69f upsellContainerFloating__0b69f floatingNitroUpsell__39749"]{ 
  display: none; 
}
/*servers*/
.wrapper__6e9f8 selected__6e9f8 .childWrapper__6e9f8, .wrapper__6e9f8 .childWrapper__6e9f8 {
  background: #0d0d0d;
  color: #593695;
  transform: scale(1) translate(1px, 1px);
}
/*home button*/
svg:has(>[d="M19.73 4.87a18.2 18.2 0 0 0-4.6-1.44c-.21.4-.4.8-.58 1.21-1.69-.25-3.4-.25-5.1 0-.18-.41-.37-.82-.59-1.2-1.6.27-3.14.75-4.6 1.43A19.04 19.04 0 0 0 .96 17.7a18.43 18.43 0 0 0 5.63 2.87c.46-.62.86-1.28 1.2-1.98-.65-.25-1.29-.55-1.9-.92.17-.12.32-.24.47-.37 3.58 1.7 7.7 1.7 11.28 0l.46.37c-.6.36-1.25.67-1.9.92.35.7.75 1.35 1.2 1.98 2.03-.63 3.94-1.6 5.64-2.87.47-4.87-.78-9.09-3.3-12.83ZM8.3 15.12c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.89 2.27-2 2.27Zm7.4 0c-1.1 0-2-1.02-2-2.27 0-1.24.88-2.26 2-2.26s2.02 1.02 2 2.26c0 1.25-.88 2.27-2 2.27Z"]) {
  background: #61538d;
  color: transparent;
  transform: scale(10) translate(1px, 5px);
}
/*user area*/
[aria-label="User Settings"]{
  position: relative;
  right: 256px;
  bottom: 10px;
}
[aria-label="Deafen"]{
  position: relative;
  right: 223px;
  bottom: 45px;
}
[aria-label="Mute"]{
  position: relative;
  right: 190px;
  bottom: 80px;
}

.theme-dark {
  --background-primary: #0d0d0d;
  --background-secondary: #0d0d0d;
  --background-secondary-alt: #0d0d0d;
  --background-tertiary: #0d0d0d;
  --background-accent: #0d0d0d;

  --modal-background: #0d0d0d;
  --background-mobile-primary: #0d0d0d;
  --background-mobile-secondary: #0d0d0d;
  --channeltextarea-background: #0d0d0d;
  --background-message-hover: transparent;
  --background-modifier-hover: #0d0d0d;
  --background-modifier-active: #0d0d0d1a;
  --background-modifier-selected: #0d0d0d1f;
  --deprecated-card-bg: #0d0d0d63;
  --background-floating: #0d0d0d;
  --deprecated-quickswitcher-input-background: #0d0d0d;
  --elevation-low: none;
  --scrollbar-auto-thumb: #0d0d0d;
  --scrollbar-auto-track: #0d0d0d;
  --scrollbar-thin-thumb: #0d0d0d;
  --activity-card-background: #0d0d0d;
  --input-background: #0d0d0d;
  --header-primary: #61538d;
  --header-secondary: #61538d;
  --text-normal: #61538d;
}
