@import url('https://refact0r.github.io/system24/src/main.css');
@import url('https://refact0r.github.io/system24/src/unrounding.css');
@import url('https://comfy-themes.github.io/Discord/betterdiscord/no-scrollbar.css');
@import url('https://comfy-themes.github.io/Discord/betterdiscord/better-spotify.css');
@import url('https://comfy-themes.github.io/Discord/betterdiscord/vencord-spotify.css');

:root {
  --disable-animations: 2s channel-unread infinite;
  --user-buttons-spacing: 8px;
  --user-buttons-color: #61538d;
  --colored-emoji: grayscale(1%);
  --unread-color: #7289da;
  /*--mention-color: #6e56af;
  --mention-color-bar: #61538d;
  --mention-color-background: #0d0d0d;
  --mention-color-hover: #6e56af0c;*/
  --chat-buttons: #61538d;
  --spotify-color: #61538d;
  --online: #43b581;
  --iddle: #faa61a;
  --dnd: #f04747;
  --offline: #747f8d;
  --streaming: #593695;
  --playing: #7289da;
  --listening: #1db653;
  --role-circle: 0px;
  --discord-logo: none;
  
  /* tui customization */
	--font: 'DM Mono'; /* UI font name. it must be installed on your system. */
	letter-spacing: -0.05ch; /* decreases letter spacing for better readability. */
	font-weight: 300; /* UI font weight. */
	--label-font-weight: 500; /* font weight for panel labels. */
	--pad: 16px; /* padding between panels. */
	--txt-pad: 10px; /* padding inside panels to prevent labels from clipping */
	--panel-roundness: 0px; /* corner roundness of panels. ONLY WORKS IF unrounding.css IS REMOVED (see above). */
	
  /* state modifiers */
	--hover: oklch(54% 0 0 / 0.1); /* color of hovered elements. */
	--active: oklch(54% 0 0 / 0.2); /* color of elements when clicked. */
	--selected: var(--active); /* color of selected elements. */

	/* borders */
	--border-width: 2px; /* panel border thickness. */
	--border-color: var(--bg-3); /* panel border color. */
	--border-hover-color: var(--bg-3); /* panel border color when hovered. // (--acc-0 for mark) */
	--border-transition: 0.2s ease; /* panel border transition. */

	/* mention/ping and message colors */
	--mention-txt: var(--acc-0); /* color of mention text. */
	--mention-bg: color-mix(in oklch, var(--bg-1), transparent 90%); /* background highlight of mention text. */
  --mention-overlay: color-mix(in oklch, var(--bg-1), transparent 90%); /* overlay color of messages that mention you. */
	--mention-hover-overlay: color-mix(in oklch, var(--acc-0), transparent 95%); /* overlay color of messages that mention you when hovered. */
	--reply-overlay: var(--active); /* overlay color of message you are replying to. */
	--reply-hover-overlay: var(--hover); /* overlay color of message you are replying to when hovered. */
}

.theme-dark {
  --background-primary: #0d0d0d;
  --background-secondary: #0d0d0d;
  --background-secondary-alt: #0d0d0d;
  --background-tertiary: #0d0d0d;
  --background-accent: #0d0d0d;

  --modal-background: #0d0d0d;
  --background-mobile-primary: #0d0d0d;
  --background-mobile-secondary: #0d0d0d;
  --channeltextarea-background: #0d0d0d;
  --background-message-hover: transparent;
  --background-modifier-hover: #0d0d0d;
  --background-modifier-active: #0d0d0d1a;
  --background-modifier-selected: #0d0d0d1f;
  --deprecated-card-bg: #0d0d0d63;
  --background-floating: #0d0d0d;
  --deprecated-quickswitcher-input-background: #0d0d0d;
  --elevation-low: none;
  --scrollbar-auto-thumb: #0d0d0d;
  --scrollbar-auto-track: #0d0d0d;
  --scrollbar-thin-thumb: #0d0d0d;
  --activity-card-background: #0d0d0d;
  --input-background: #0d0d0d;
  --header-primary: #61538d;
  --header-secondary: #61538d;
  --text-normal: #61538d;
}
